{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="form-group">
            <input class="form-control" name="username" placeholder="User Name" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="o_password" placeholder="Old Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="n_password" placeholder="New Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="c_password" placeholder="Confirm Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit" onclick=register()>Update</button>
    </form>
{% endblock %}

{% block script %}
    <script>
        function register() {
            if (document.querySelector('#user').onkeyup === '') {
                alert("Username is not available");
            }
        }
    </script>
{% endblock %}